$primary_accent: #346359 !default;
$secondary_accent: #a8cf45 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #a8cf45 !default;
$primary_hover: #57a796 !default;
