$primary_accent: #002642 !default;
$secondary_accent: #4F7AFF !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #4F7AFF !default;
$primary_hover: #4F7AFF !default;
